<nav class="fixed top-0 left-0 w-full z-[9999] bg-[#FFF7EB] shadow-md p-4 md:px-16 flex md:p-4 justify-between items-center">

  <h1 class="text-3xl font-extrabold text-[#FF7A00] tracking-tight">
    <a routerLink="/">Woya!</a>
  </h1>

  <!-- ✅ Desktop -->
  <div class="hidden md:flex items-center gap-6">

    <a routerLink="/services"
       routerLinkActive="active"
       class="menu-item">
      Services
    </a>

    <!-- Si NON connecté -->
    <button *ngIf="!(auth.user$ | async)"
     routerLink="/login"
      class="px-4 py-2 border border-[#FF7A00] text-[#FF7A00] rounded-xl text-sm hover:bg-[#FF7A00] hover:text-white transition">
      Se connecter
    </button>

        <button *ngIf="!(auth.user$ | async)"
      routerLink="/register"
      class="px-4 py-2 border border-[#FF7A00] text-[#FF7A00] rounded-xl text-sm hover:bg-[#FF7A00] hover:text-white transition">
      S'inscrire
    </button>

    <!-- Si connecté -->
    <ng-container *ngIf="auth.user$ | async as user">
      <a routerLink="/mes-services"
         routerLinkActive="active"
         class="menu-item">
        Mes services
      </a>

      <div class="flex items-center gap-2">
        <img [src]="user.photoURL || 'assets/icone.png'" class="w-8 h-8 rounded-full object-cover border">
        <span class="font-semibold text-sm text-[#1A1A1A]">{{ user.firstname }}</span>
      </div>

      <button (click)="logout()"
        class="px-4 py-2 border border-red-500 text-red-500 rounded-xl text-sm hover:bg-red-500 hover:text-white transition">
        Déconnexion
      </button>
    </ng-container>

  </div>


  <!-- BOUTON BURGER (Mobile) -->
  <button (click)="toggleMenu()" class="md:hidden text-[#FF7A00] focus:outline-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none"
      viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</nav>


<!-- MENU SLIDE MOBILE -->
<div class="fixed top-0 right-0 h-full w-64 bg-white shadow-xl z-[9998] transform transition-transform duration-300 md:hidden"
     [class.translate-x-full]="!isMenuOpen">

  <div class="p-4 flex justify-end">
    <button (click)="toggleMenu()" class="text-gray-500">✖</button>
  </div>

  <div class="flex pt-7 flex-col gap-4 px-6">

     <!-- ✅ Si connecté -->
    <ng-container *ngIf="auth.user$ | async as user">

<img [src]="user.photoURL || 'assets/icone.png'"
     class="w-10 h-10 rounded-full border object-cover">


      <a routerLink="/mes-services" 
         routerLinkActive="text-[#FF7A00]"
         (click)="toggleMenu()" 
         class="text-lg font-semibold">
        Mes services
      </a>

    <!-- LIENS AVEC COULEUR ACTIVE -->
    <a routerLink="/" 
       routerLinkActive="text-[#FF7A00]" [routerLinkActiveOptions]="{ exact: true }"
       (click)="toggleMenu()" 
       class="text-lg font-semibold">
      Accueil
    </a>

    <a routerLink="/services" 
       routerLinkActive="text-[#FF7A00]" [routerLinkActiveOptions]="{ exact: true }"
       (click)="toggleMenu()" 
       class="text-lg font-semibold">
      Services
    </a>

    <!-- ✅ Si NON connecté -->
    <a *ngIf="!(auth.user$ | async)" 
       routerLink="/login" 
       routerLinkActive="text-[#FF7A00]" [routerLinkActiveOptions]="{ exact: true }"
       (click)="toggleMenu()" 
       class="text-lg font-semibold">
      Se connecter
    </a>

    <a *ngIf="!(auth.user$ | async)" 
       routerLink="/register" 
       routerLinkActive="text-[#FF7A00]" [routerLinkActiveOptions]="{ exact: true }"
       (click)="toggleMenu()" 
       class="text-lg font-semibold">
      S'inscrire
    </a>


          <button (click)="logout()" 
              class="text-left text-red-500 font-semibold">
        Déconnexion
      </button>

   
    </ng-container>

  </div>
</div>

<!-- BACKDROP -->
<div *ngIf="isMenuOpen" (click)="toggleMenu()" class="fixed inset-0 bg-black/40 backdrop-blur-sm z-[9997] md:hidden"></div>
