<div class="max-w-xl mx-auto px-6 py-8 bg-white rounded-2xl shadow-sm mt-6">
     <button routerLink="/services" class="text-sm text-gray-500 hover:text-black mb-4 flex items-center gap-1">
    ← Retour aux services
  </button>
  <h2 class="text-2xl font-bold mb-6 text-[#FF7A00]">Publier un service</h2>

  <div class="flex flex-col gap-4">

    <input [(ngModel)]="form.title" placeholder="Titre du service"
           class="border rounded-xl px-4 py-3 outline-none" />

    <textarea [(ngModel)]="form.description" rows="4"
              placeholder="Décris ton service"
              class="border rounded-xl px-4 py-3 outline-none"></textarea>

    <select [(ngModel)]="form.category"
            class="border rounded-xl px-4 py-3 outline-none">
      <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
    </select>

    <input [(ngModel)]="form.city" placeholder="Ville / Quartier"
           class="border rounded-xl px-4 py-3 outline-none" />

    <input [(ngModel)]="form.price" type="number" placeholder="Prix (FCFA)"
           class="border rounded-xl px-4 py-3 outline-none" />

    <input [(ngModel)]="form.contact" placeholder="Numéro WhatsApp / Téléphone"
           class="border rounded-xl px-4 py-3 outline-none" />
  </div>

  <h2 class="text-2xl mt-4 font-bold mb-6 text-[#FF7A00]">Photo sur service </h2>

<div
  class="border-2 border-dashed border-gray-300 rounded-xl p-6 flex flex-col items-center justify-center cursor-pointer hover:border-[#FF7A00] transition"
  (click)="fileInput.click()"
  (dragover)="$event.preventDefault()"
  (drop)="onDrop($event)"
>
  <input #fileInput type="file" accept="image/*" multiple class="hidden" (change)="onSelectImages($event)" />

  <svg class="w-12 h-12 text-gray-400 mb-2" fill="none" stroke="currentColor" stroke-width="1.5"
       viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 16l6-6 4 4 8-8M21 21H3" />
  </svg>

  <p class="text-gray-600">Clique pour importer ou glisse tes images ici</p>
  <p class="text-xs text-gray-400">(Jusqu’à 10 images)</p>
</div>

<!-- ✅ PREVIEW GRID MODERNE -->
<div *ngIf="previews.length > 0" class="grid grid-cols-3 gap-3 mt-4">

  <div *ngFor="let p of previews; let i = index" class="relative group">

    <img [src]="p" class="rounded-xl object-cover h-28 w-full shadow-sm"/>

    <!-- Bouton supprimer -->
    <button (click)="removeImage(i)"
            class="absolute top-1 right-1 bg-black/60 text-white rounded-full w-6 h-6 flex items-center justify-center text-xs opacity-0 group-hover:opacity-100 transition">
      ✕
    </button>

  </div>

</div>


  <button (click)="save()"
          class="w-full mt-6 px-6 py-3 bg-[#FF7A00] text-white font-semibold rounded-xl text-lg shadow-md hover:bg-[#e66d00] active:scale-95 transition">
    <span *ngIf="!loading">Publier</span>
    <span *ngIf="loading">Enregistrement...</span>
  </button>
</div>
