@import 'swiper/css';
@import 'swiper/css/navigation';


@tailwind base;
@tailwind components;
@tailwind utilities;


:root, body, html {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
